/* Breakpoints
----------------------------------------- */
$bmobile: 768px;
$btablet: 992px;
$bdesktop: 1400px;
$bwide: 1920px;

/* Colors
----------------------------------------- */
$bg: 			#831270;

$black: 		#494949;
$white: 		#ffffff;
$red: 			#ff0082;
$pink: 			#c188b7;

/* Fonts
----------------------------------------- */
$freg: 		400;
$fmed: 		500;
$fbold: 	700;

$font-family: Helvetica, Arial, Gotham, "Helvetica Neue", "sans-serif";

$fonts: ();

/* Variables
----------------------------------------- */
$header: 118px;
$header_mobile: 59px;