.articles {
	flex: 1;
	display: flex;
	flex-flow: row wrap;
	background-color: $white;
	min-height: calc(100vh - #{$header});
	@include max($btablet) {
		min-height: 1px;
	}
	article {
		flex: 1;
		cursor: pointer;
		position: relative;
		min-width: 20%;
		max-width: 20%;
		border-left: 1px solid $white;
		background-repeat: no-repeat;
		background-position: center bottom;
		background-size: cover;
		padding: 20px;
		@include min($bwide) {
			padding: 40px;
		}
		@include max($btablet) {
			flex: none;
			display: flex;
			flex-flow: row nowrap;
			align-items: flex-start;
			height: 550px;
			min-width: 100%;
			max-width: 100%;
		}
		@include max($bmobile) {
			height: 350px;
		}
		&:before {
			content: "";
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			background-color: $pink;
			opacity: 1;
			@include transition("opacity", .7s, "ease");
			@include max($btablet) {
				opacity: 0;
			}
		}
		&:nth-of-type(5n + 1) {
			border-left: 0px solid $white;
		}
		@include min($btablet) {
			&:nth-of-type(n + 6) {
				border-top: 1px solid $white;
			}
		}
		&:hover {
			&:before {
				opacity: 0;
			}
			h2 {
				&:after {
					opacity: 1;
				}
			}
		}
		&.active {
			&:before {
				opacity: 0;
			}
			h2 {
				&:after {
					opacity: 1;
				}
			}
		}
		strong {
			position: relative;
			@include text($fbold, 124px, $white, 124px, none);
			@include max($bwide) {
				font-size: 70px;
				line-height: 80px;
			}
			@include max($btablet) {
				line-height: 60px;
				padding-right: 10px;
			}
		}
		h2 {
			position: relative;
			color: $white;
			@include max($bwide) {
				font-size: 20px;
				line-height: 24px;
			}
			@include max($bmobile) {
				padding-right: 40px;
			}
			&:after {
				content: "";
				position: relative;
				top: 7px;
				display: inline-block;
				width: 37px;
				height: 33px;
				background-image: url(../images/arrow.png);
				background-repeat: no-repeat;
				background-position: 0px 0px;
				background-size: 100% 100%;
				margin-left: 15px;
				margin-right: -37px;
				opacity: 0;
				@include transition("opacity", .7s, "ease");
				@include max($bwide) {
					top: 4px;
					width: 21px;
					height: 18px;
					margin-left: 10px;
					margin-right: -21px;
				}
				@include max($btablet) {
					display: none;
				}
			}
		}
	}
	.article {
		z-index: 1;
		@include min($btablet) {
			position: absolute;
			left: 0px;
			right: 0px;
			top: 0px;
			bottom: 0px;
			opacity: 0;
			transform: translateY(-100%);
			@include transition("opacity", .7s, "ease");
			&:before {
				content: "";
				position: absolute;
				left: 0px;
				right: 0px;
				top: 0px;
				bottom: 0px;
				background-color: $bg;
				opacity: 0.7;
			}
			&.active {
				opacity: 1;
				transform: translateY(0);
			}
		}
		@include max($btablet) {
			position: relative;
			width: 100%;
			height: 0px;
			overflow: hidden;
			&.active {
				height: auto;
				overflow: visible;
			}
		}
		.close {
			@include min($btablet) {
				position: absolute;
				left: 0px;
				right: 0px;
				top: calc(#{$header} + 40px);
				width: 100%;
				max-width: 770px;
				margin: 0px auto;
				em {
					cursor: pointer;
					position: absolute;
					right: -63px;
					top: 0px;
					width: 43px;
					height: 43px;
					background-image: url(../images/close.png);
					background-repeat: no-repeat;
					background-position: 0px 0px;
					background-size: 100% 100%;
				}
			}
			@include max($btablet) {
				position: absolute;
				right: 30px;
				top: -525px;
				em {
					cursor: pointer;
					display: block;
					width: 36px;
					height: 36px;
					background-image: url(../images/close_mobile.png);
					background-repeat: no-repeat;
					background-position: 0px 0px;
					background-size: 100% 100%;
				}
			}
			@include max($bmobile) {
				top: -322px;
				em {
					width: 18px;
					height: 18px;
				}
			}
		}
		.scroll-pane {
			@include min($btablet) {
				position: absolute;
				left: 0px;
				right: 0px;
				top: calc(#{$header} + 40px);
				bottom: 0px;
				max-width: 770px;
				background-color: $white;
				margin: 0px auto;
			}
		}
		img {
			display: block;
			width: 100%;
			@include max($btablet) {
				display: none;
			}
		}
		.text {
			padding: 30px;
			@include max($btablet) {
				padding: 20px;
			}
			h2 {
				margin-bottom: 15px;
				@include max($btablet) {
					display: none;
				}
			}
			.btn {
				@include btn(143px, 46px);
				margin: 20px auto 0px;
				@include min($btablet) {
					display: none;
				}
			}
		}
		.buy {
			height: 420px;
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: auto 100%;
			padding-left: 60px;
			padding-right: 60px;
			padding-top: 30px;
			@include max($bmobile) {
				height: auto;
				background-position: center top;
				background-size: auto 215px;
				padding-left: 20px;
				padding-right: 20px;
			}
			h2 {
				color: $white;
				@include max($bmobile) {
					color: $bg;
					text-align: center;
					padding-top: 215px;
				}
			}
			.btn {
				@include btn(143px, 46px);
				margin-left: 0px;
				@include max($bmobile) {
					color: $bg;
					margin: 20px auto;
					&:before {
						border-color: $bg;
					}
					em {
						width: 100%;
						background-color: $bg !important;
						&:before {
							color: $white !important;
						}
					}
				}
			}
		}
	}
}