.container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-content: stretch;
	align-items: stretch;
	position: relative;
	min-height: 100vh;
	padding-top: $header;
	@include max($btablet) {
		padding-top: $header_mobile;
	}
}
.content {
	max-width: 740px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	margin: 0px auto;
}